 /* #total {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  
} */
#buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 60px;

}
/* #sum {
  padding-left: 4px;
}  */